body {
    background-image: url('BG1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-family: Arial, sans-serif;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


.container {
    background: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 400px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 10px;
}

#text {
    font-size: 18px;
    color: #ff0000;
    min-height: 50px;
}

.btn {
    padding: 10px 20px;
    margin-top: 10px;
    background: #ff4081;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

@media (max-width: 480px) {
    h1 {
        font-size: 36px;
    }
    p {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 42px;
    }
    p {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 60px;
    }
    p {
        font-size: 20px;
    }
}
